{% extends "layout.html" %}

{% block title %}
    Stock portfolio
{% endblock %}

{% block main %}
    <table>
        <thead>
            <tr>
                <th>Cash Balance</th>
                <th>Grand total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cash_balance }}</td>
                <td>{{grand_total}}</td>
            </tr>
    </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Current price</th>
                <th>Total value</th>
            </tr>
        </thead>
        <tbody>
            {% for p in portfolio %}
                <tr>
                    <td>{{p['symbol']}}</td>
                    <td>{{p['shares']}}</td>
                    <td>{{p['c_p']}}</td>
                    <td>{{p['total']}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
