table {
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

head {
    background-color: #100;
    padding: 10px;
}

body {
    font-family: 'Verdana', sans-serif;
    line-height: 1.5;
    margin: 20px;
}

h1 {
    color: #100;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    color: #100;
    font-size: 2em;
    margin-bottom: 10px;
}
